build/
install/
log/
*.pyc
.venv/
.idea/
venv/
downloads/
akida_dw_edma/
*.h5
*.onnx
*label.txt
*preprocessed/
*preprocessed_fast/
*preprocessed_fast_compact/
*preprocessed_akida/
*preprocessed_akida_test_small/
*runs/
